In [2]:
import pandas as pd

data = pd.read_csv(
    "/home/ohad/work/sycamore_exp_project/src/data/D26.02.23_T19.51.56__" \
    "exp_0__shots_500000/amplitudes_n12_m14_s0_e0_pEFGH.txt",
    sep="\s+"
)

data

           bitstring  real_amp  complex_amp
0       100001000001  0.019803     0.010644
1          101111011  0.004976    -0.024507
2        11000101100 -0.008536    -0.007013
3       111001100001 -0.010014     0.014747
4         1110110000  0.006820     0.010662
...              ...       ...          ...
499995  101111100101 -0.010634    -0.004225
499996  100011100111 -0.002537    -0.005939
499997  100111101011  0.001222    -0.008354
499998   11001010110 -0.001545     0.019417
499999  110111101001  0.000122     0.021821

[500000 rows x 3 columns]

In [7]:
data.drop_duplicates(inplace=True)

In [13]:
data.sort_values("bitstring", inplace=True)

In [46]:
import numpy as np
data['prob'] = [((r ** 2) + (c ** 2)) for r,c in zip(data['real_amp'], data['complex_amp'])]

In [51]:
((-0.002689) ** 2) + (0.010091 ** 2)

0.00010905900199999999

In [48]:
sum(data['prob'])

0.9999993510051941

In [47]:
data

          bitstring  real_amp  complex_amp      prob
7222              0  0.001091     0.002781  0.000009
2867              1  0.017359    -0.016713  0.000581
3582             10 -0.008737     0.002962  0.000085
13784            11  0.008198     0.012901  0.000234
1145            100  0.010864     0.024643  0.000725
...             ...       ...          ...       ...
2366   111111111011 -0.008653    -0.020225  0.000484
3259   111111111100  0.007954    -0.000898  0.000064
6082   111111111101 -0.010784    -0.002652  0.000123
82     111111111110 -0.015668    -0.011180  0.000370
4066   111111111111  0.010091    -0.002689  0.000109

[4096 rows x 4 columns]

In [53]:
import json

path = "/home/ohad/work/sycamore_exp_project/src/data/D26.02.23_T19.51.56__exp_0__shots_500000/"

ideal_12 = f"{path}circuit_0__num_qubits_12__depth_500/circuit_0__num_qubits_12__" \
    "depth_500__noise_model_ideal__nonzero_rate_0.99.json"
noisy_12 = f"{path}circuit_0__num_qubits_12__depth_500/circuit_0__num_qubits_12__" \
    "depth_500__noise_model_basic_depolarization_model__nonzero_rate_1.0.json"

ideal_14 = f"{path}circuit_1__num_qubits_14__depth_500/circuit_1__num_qubits_14__" \
    "depth_500__noise_model_ideal__nonzero_rate_0.97.json"
noisy_14 = f"{path}circuit_1__num_qubits_14__depth_500/circuit_1__num_qubits_14__" \
    "depth_500__noise_model_basic_depolarization_model__nonzero_rate_1.0.json"

ideal_16 = f"{path}circuit_2__num_qubits_16__depth_501/circuit_2__num_qubits_16__" \
    "depth_501__noise_model_ideal__nonzero_rate_0.89.json"
noisy_16 = f"{path}circuit_2__num_qubits_16__depth_501/circuit_2__num_qubits_16__" \
    "depth_501__noise_model_basic_depolarization_model__nonzero_rate_1.0.json"

def compute_f_xeb(n: int, ideal_p_dist_path: str, noisy_q_dist_path: str):
    """
    """
    
    with open(ideal_p_dist_path, "r") as ideal_file:
        ideal_data = json.load(ideal_file)

    with open(noisy_q_dist_path, "r") as noisy_file:
        noisy_data = json.load(noisy_file)

    ideal_p_dist = [float(p) for p in ideal_data.values()]
    noisy_q_dist = [float(q) for q in noisy_data.values()]

    f_xeb = (2 ** n) * sum([p * q for p, q in zip(ideal_p_dist, noisy_q_dist)]) - 1
    return f_xeb

print(f"F_xeb_12 = {compute_f_xeb(12, ideal_12, noisy_12)}")
print(f"F_xeb_14 = {compute_f_xeb(14, ideal_14, noisy_14)}")
print(f"F_xeb_16 = {compute_f_xeb(16, ideal_16, noisy_16)}")

print()
print(f"F_xeb_12_ideal = {compute_f_xeb(12, ideal_12, ideal_12)}")
print(f"F_xeb_14_ideal = {compute_f_xeb(14, ideal_14, ideal_14)}")
print(f"F_xeb_16_ideal = {compute_f_xeb(16, ideal_16, ideal_16)}")

F_xeb_12 = 0.017754664960002886
F_xeb_14 = 0.009366204416004997
F_xeb_16 = 0.003172134911886726

F_xeb_12_ideal = 1.0292661084159946
F_xeb_14_ideal = 1.060551585791988
F_xeb_16_ideal = 1.1163100078076855

In [59]:
n = 12
with open(ideal_12, "r") as ideal_file:
    ideal_data = json.load(ideal_file)

google_data = data

ideal_p_dist = [float(p) for p in ideal_data.values()]
google_q_dist = data['prob']

f_xeb = (2 ** n) * sum([p * q for p, q in zip(ideal_p_dist, google_q_dist)]) - 1

In [60]:
f_xeb

-0.009280997680943814